.header {
    display: flex;
    background-color: firebrick;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    justify-content: space-between;
}

h1 {
    color: whitesmoke; 
    align-items: center;
    font-size: 40px;
}

.button {
    display: flex;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: bold;
    align-items: center;
    margin-top: 40px;
    height: fit-content;
}

a {
    text-decoration: none;
    color: black;
}

.intro {
    background-color: rgb(2, 2, 87);
    display: flex;
}

.intro-img {
    padding: 100px;
    display: flex;
    flex: none;
}

.intro-text {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    font-weight: bold;
    flex: 2;
}

img {
    object-fit: cover;
    width: 200px;
    height: 250px;